<div
  id="desc"
  class="container container-md menu bg-dark text-light p-2"
  style="width: 20rem; opacity: 0.8"
>
  <div
    class="text-light"
    onclick="document.getElementById('desc').style.display='none'"
    style="position: absolute; top: 0.1rem; right: 0.1rem"
  >
    close
  </div>
  <div>Dynamic weather effect</div>
  <p class="">
    This is a feature that dynamically changes based on weather data fetched
    from openmeteo.com api
  </p>
  <div>Features:</div>
  <p>Rotates the day night cycle based on current local time</p>
  <p>Shows rains particle effect when it rains</p>
  <p>Displays clouds depending on the cloud coverage</p>
</div>
